.common {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
}

.swap {
  display: flex;
  width: 470px;
  flex-direction: column;
  background: rgba(124, 196, 219, 0.05);
  border-color: rgba(115, 237, 201, 0.5);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-radius: 16px 16px 0px 0px;
  backdrop-filter: blur(10px);
}

.InputBlock {
  display: flex;
  justify-content: space-between;
}

.OutputBlock {
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}

.currencyInput {
  font-weight: 300;
  font-size: 36px;
  color: #F6F8FE;
  padding: 42px 0px 0px 50px;
}

.currencyOutput {
  font-weight: 300;
  font-size: 36px;
  color: #F6F8FE;
  padding: 42px 0px 0px 50px;
}

.balanceBlock {
  display: flex;
  justify-content: end;
  padding-right: 50px;
}

.balance {
  font-weight: 300;
  font-size: 14px;
  color: rgba(246, 248, 254, 0.4);
  padding: 0px 0px 24px 50px;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 36px;
  padding: 4px 4px 4px 16px;
  border-radius: 8px;
}

.selectWrapper:hover {
  background-color: #e2fb5f;
  background: rgba(67, 151, 178, 0.1);
}

.circle {
  margin: auto;
  border: 1px solid;
  background-color: #e2fb5f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.circle:hover {
  background-color: #EDFF8E;
}

.line {
  border-top: 1px solid rgba(115, 237, 201, 0.5);
}

.iconSwap {
  padding: 9px 7px;
}

.stringSwapFee {
  display: flex;
  background-color: #060F19;
  color: #e2fb5f;
  font-weight: 500;
  font-size: 16px;
  justify-content: space-between;
  padding: 12px 50px 12px 50px;
}

.textToPools {
  color: #F6F8FE;
  font-size: 16px;
  font-weight: 400;
  margin-top: 76px;
}

.textToPools a {
  color: #e2fb5f;
}

.select {
  display: flex;
  border-radius: 28px;
  color: #43b25b;
  margin: 0px 35px;
  height: 100%;
  padding: 36px 0px 0px;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  font-size: 18px;
}