.depositWindow {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: rgba(6, 15, 25, 0.95);
  width: 470px;
  margin: auto;
}

.nameField {
  font-size: 28px;
  line-height: 35px;
  color: #f6f8fe;
  font-weight: 600;
}

.anyWindow {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.deposit,
.withdraw,
.farm,
.unfarm {
  padding: 6px 23px;
  color: #060f19;
  background: #e2fb5f;
  border-radius: 4px;
}

.firstField,
.secondField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(67, 151, 178, 0.1);
  border-radius: 8px;
  margin: 14px 38px 25px 38px;
}

.value {
  color: #f6f8fe;
  font-size: 36px;
  font-weight: 100 !important;
  background: rgba(67, 151, 178, 0.01);
  border: none;
  max-width: 195px;
}

.level {
  color: #e2fb5f;
  border: 1px solid #e2fb5f;
  font-size: 14px;
  border-radius: 8px;
  padding: 2px 10px;
  height: 20px;
  align-self: center;
  margin-right: 6px;
  cursor: pointer;
}

.firstStringOneField,
.secondStirngTwoField {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.firstStringOneField {
  padding-top: 12px;
}

.secondStirngTwoField {
  padding-bottom: 16px;
}

.circle {
  width: 26px;
  height: 26px
}

.bootToken {
  color: #f6f8fe;
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
  align-self: center;
  margin-left: 6px;
}

.element {
  display: flex;
  align-items: center;
}

.cash,
.balance {
  color: rgba(246, 248, 254, 0.4);
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
}