.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: rgba(67, 178, 91, 0.15);
  font-weight: bold;
  font-size: 167px;
}
.filter {
  display: flex;
  align-items: center;
  width: 698px;
  height: 56px;
  background-color: rgba(22, 40, 51, 0.9);
  border-radius: 16px;
}
.searchfil {
  display: flex;
  color: #43b25b;
  font-size: 18px;
  font-weight: 200;
  margin-left: 11px;
}
.iconfilter {
  padding-left: 25px;
}
.sheets {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 40, 51, 0.9);
  border-radius: 16px;
  margin-top: 10px;
  width: 698px;
}
.columnname {
  display: flex;
  color: #43b25b;
  font-size: 14px;
  margin-left: 18px;
}
.firststr {
  display: flex;
  padding-top: 9px;
  padding-bottom: 7px;
  justify-content: space-between;
}
.secondstr {
  display: flex;
  background-color: rgba(67, 151, 178, 0.1);
  padding-top: 21px;
  padding-bottom: 22px;
  justify-content: space-between;
}
.secsec {
  color: white;
  margin-left: -59px;
}
.thisec {
  color: white;
  margin-left: -59px;
}
.fotsec {
  color: #43b25b;
}
.fifsec {
  color: white;
  margin-left: -52px;
}
.thisrt {
  display: flex;
  padding-top: 21px;
  padding-bottom: 22px;
  justify-content: space-between;
}
.fotystr {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 22px;
  background-color: rgba(67, 151, 178, 0.1);
}
.fiftstr {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 22px;
}
.sixstr {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 22px;
  background-color: rgba(67, 151, 178, 0.1);
}
.page {
  display: flex;
  margin-top: 20px;
  color: #e2fb5f;
  font-weight: 100;
  font-size: 18px;
}
.leftarrow {
  margin-right: 10px;
}
.rightarrow {
  margin-left: 10px;
}
.circle {
  padding-left: 35px;
  width: 18px;
}
.circletwo {
  width: 18px;
  padding-right: 8px;
}
.atom {
  padding-left: 35px;
  width: 18px;
}
.atomtwo {
  width: 18px;
  padding-right: 8px;
}
.group {
  width: 18px;
}
.usd {
  padding-right: 8px;
}
.dk {
  padding-right: 8px;
}
.pool {
  margin-left: -49px;
  color: #43b25b;
}
.sixsec {
  margin-left: -52px;
  color: white;
}
.tl {
  color: #43b25b;
}
