.main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: flex-start;
  margin: auto;
}
.firstString {
  display: flex;
  justify-content: space-between;
}

.tokenList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.tableToken {
  background-color: rgba(22, 40, 51, 0.9);
  border-radius: 16px;
  border-collapse: collapse;
  width: 818px;
}

td {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.pair,
.totalLiquiity,
.volume,
.arpHead {
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: rgba(246, 248, 254, 0.4);
  width: 150px;
}
.volume,
.bondedCash {
  text-align: right;
  padding-right: 25px;
}
.bondedCash {
  color: rgba(246, 248, 254, 0.7);
  font-size: 18px;
  line-height: 23px;
}
.pairArp {
  display: flex;
  color: rgba(246, 248, 254, 0.7);
  padding-right: 40px;
  font-size: 18px;
  line-height: 23px;
}
.cash {
  color: rgba(246, 248, 254, 0.7);
  padding-right: 56px;
  padding-left: 50px;
  font-size: 18px;
  line-height: 23px;
}
.stringTokens {
  background-color: rgba(67, 151, 178, 0.1);
}
.stringTokens:hover {
  background-color: rgba(115, 237, 201, 0.2);
}
.pair {
  text-align: start;
  padding: 9px 18px;
}

.arp {
  color: #f6f8fe;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.circle {
  width: 18px;
  padding-right: 8px;
}
.atom {
  left: 15px;
  margin-left: 10px;
  width: 18px;
}
.name {
  display: flex;
  color: rgba(115, 237, 201, 0.7);
  font-size: 24px;
  line-height: 30px;
  font-style: medium;
  margin: 5px 0px;
}

.page {
  display: flex;
  color: rgba(246, 248, 254, 0.4);
  font-weight: 100;
  font-size: 14px;
  margin: 10px 0px 10px -38px;
}

.downarrow {
  margin-left: 6px;
}

.secondString {
  display: flex;

  margin-top: 10px;
}
.string {
  color: yellow;
  font-size: 43px;
  line-height: 54px;
  margin-right: 20px;
}
.group {
  padding-left: 18px;
}
.buttonDown {
  background: rgba(22, 40, 51, 0.9);
  padding: 10px 0px;
  border: none;
}
