.title {
  color: rgba(246, 248, 254, 0.6);
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}

.tablePools {
  height: auto;
  overflow: auto;
  background: rgba(124, 196, 219, 0.05);
  border: 1px solid rgba(115, 237, 201, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.theadMyPools {
  border-bottom: 1px solid rgba(115, 237, 201, 0.1);
}

.theadMyPools:hover {
  background: transparent;
}

.pair {
  text-align: left;
}

.bonded {
  font-weight: 700;

}

.pairPool {
  display: flex;
  gap: 5px;
}

.imgToken_1 {
  position: relative;
  width: 24px;
  z-index: 10;
}

.imgToken_2 {
  position: relative;
  width: 24px;
  left: -10px;
}

.downarrow {
  margin-left: 6px;
}

.buttonDown {
  border: none;
  background: transparent;
  padding: 10px 0px;
  width: 100%;
}

.buttonDown:hover {
  background: rgba(67, 151, 178, 0.05);
}