.input {
  width: 100%;
  padding-left: 13px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  height: 44px;
  color: rgba(22, 40, 51, 0.5);;
  background: rgba(32, 75, 81, 0.2);
  border-radius: 10px;
  border: 0px;
  outline:none;
  margin-left: 7px;
  
}

.label {
  display:flex;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
  padding-left: 9px;
  font-size: 14px;
  font-weight: 400;
}

input::placeholder {
  font-weight: 300;
  font-size: 16px;
  padding: 11px 0px;
  opacity: 0.5;
  color: #162833;
}

.subtitle {
  position: absolute;
  flex-grow: 1;
  box-sizing: border-box;
  z-index: 1;
  min-width: 298px;
  width: 100%;
  left: 100%;
  bottom: 30%;
  background: rgba(22, 40, 51, 0.9);
  padding: 15px 20px;
  color: #E2FB5F;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-line;
  
}

.inputComp {
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  color: #162833;
}

.inputDescription {
  height: 126px;
  justify-content: top;
  align-items: start;
  resize: none;
  box-sizing: border-box;
  padding-bottom: 75px;
}
.star {
  color: red;
}

.image {
  margin-left: 3px;
}

.input:focus::-webkit-input-placeholder { 
  color:transparent
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #162833; 
          box-shadow: inset 0 0 0 50px #162833;
  -webkit-text-fill-color: #d3ff54; 
}
