.input {
  Height: 44px;
  width: 100%;
  background: rgba(29, 57, 66, 0.6);
  border-radius: 10px;
  border-style: none;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #F6F8FE;
  padding-left: 14px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(246, 248, 254, 0.8);
  padding-bottom: 5px;
}

input::placeholder {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: rgba(246, 248, 254, 0.2);
}

.subtitle {
  position: absolute;
  margin-left: 5px;
  min-width: 280px;
  left: 100%;
  bottom: 30%;
  background: rgba(6, 15, 25, 0.9);
  padding: 15px 20px;
  color: rgba(246, 248, 254, 0.6);
  border-radius: 10px;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.inputComp {
  padding-bottom: 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
}

.inputDescription {
  height: 126px;
  justify-content: top;
  align-items: start;
  resize: none;
  box-sizing: border-box;
  padding-bottom: 22px;
  padding-top: 14px;
}

.star {
  color: red;
}

.image {
  margin-left: 2px;
  width: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}