.chain {
  display: flex;
  color: white;
  width: 100%;
}

.icon {
  width: 18px;
  height: 18px;
  padding-right: 10px;
}

.name {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  color: white;
  text-align: left;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}