.nft {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 595px;
  height: 595px;
  background: #e2fb5f;
  border: 1px solid #e2fb5f;
  border-radius: 0px 16px 16px 16px;
}

.create {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #162833;
  padding: 19px 0px 0px 44px;
}
.cs {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: auto;
  text-transform: uppercase;
  color: #162833;
  text-align: center;
}

.hammer {
  width: 30px;
  height: 30px;
  background-image: #e2fb5f;
}

.container {
  flex-direction: column;
  width: fit-content;
  margin: 0 25vw;
  display: flex;
  height: 100%;
}
