.sendButton {
  height: 44px;
  width: 100%;
  color: #060F19;
  background-color: #e2fb5f;
  border-radius: 8px;
  background-color: transparent;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: lowercase;
  align-self: center;
  cursor: pointer;
}

.sendButton:hover {
  color: #060F19;
  background-color: #EDFF8E;
}

.green {
  height: 44px;
  width: 100%;
  color: rgba(115, 237, 201, 0.3);
  border: 1px solid rgba(115, 237, 201, 0.3);
  border-radius: 8px;
  background-color: transparent;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: lowercase;
  align-self: center;
  cursor: pointer;
}

.green:hover {
  border: 1px solid #e2fb5f;
  color: #060F19;
  background-color: #e2fb5f;
}

.yellow {
  width: 100%;
  height: 66px;
  border-radius: 0 0 16px 16px;
  background-color: #e2fb5f;
  width: 594px;
  cursor: pointer;
  color: #060F19;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 32px;
  border-style: none;
  padding: 0px;
  margin-top: 40px;
}

.yellow:disabled {
  background: #8e8e8e;
}

.yellow:hover {
  background-color: #EDFF8E;
}

.yellowTransp {
  width: 100%;
  height: 66px;
  border-radius: 0 0 16px 16px;
  width: 594px;
  cursor: pointer;
  color: #060F19;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 32px;
  border-style: none;
  padding: 0px;
  margin-top: 30px;
  background-color: rgba(226, 251, 95, 0.4)
}

.yellowTransp:hover {
  background-color: rgba(226, 251, 95, 0.6);
}

.white {
  position: relative;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 20px;
  background: #e2fb5f;
  border-radius: 8px;
  color: #060f19;
  font-size: 14px;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
  font-family: "Bai Jamjuree", sans-serif;
}

.white:hover {
  background: #EDFF8E;
}

.lg {
  padding: 10px 70px;
  font-size: 16px;
}

.sm {
  font-weight: 800;
  font-size: 22px;
  padding: 5px 50px;
}