.green {
  align-items: center;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #43b25b;
  color: #43b25b;
  border-radius: 27.5px;
  text-align: center;
  padding: 7px 25px 7px 25px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  align-self: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Exo 2", sans-serif;
}

.black {
  align-self: center;
  height: 46px;
  background: #162833;
  border-radius: 27.5px;
  padding: auto;
  color: #e2fb5f;
  cursor: pointer;
  margin-top: 26px;
  font-family: "Exo 2", sans-serif;
}

.white {
  align-items: center;
  background: #e2fb5f;
  border-radius: 27.5px;
  padding: 12px;
  color: #162833;
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  align-self: center;
  text-align: center;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
}

.lg {
  padding: 10px 70px;
  font-size: 16px;
}

.sm {
  font-weight: 800;
  font-size: 22px;
  padding: 5px 50px;
}

.black:active {
  box-shadow: inset 0px 3px 4px rgba(226, 251, 95, 0.3);
}

.black:disabled {
  background: #8e8e8e;
}

.green:hover {
  border: 1px solid #e2fb5f;

  color: #e2fb5f;
}

.green:active {
  border: 1px solid #2e6c3c;
  color: #2e6c3c;
}

.green:disabled {
  background: #8e8e8e;
}

.white:active {
  box-shadow: inset 0px 4px 4px rgba(104, 102, 47, 0.6);
}

.white:disabled {
  background: #195443;
}
