.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 54px 20px 40px;
  background: rgba(124, 196, 219, 0.05);
  border: solid rgba(115, 237, 201, 0.2);
  border-radius: 0px 16px 0px 0px;
  border-width: 1px 1px 0px 1px;
  backdrop-filter: blur(10px);
}

.formheader {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 5px;
  margin-left: 7px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 43px;
  height: 43px;
  background-color: #162833;
  color: #e2fb5f;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  border: 0px;
}*/
.dot {
  background: none;
  border: none;
  margin-top: 25px;
}
.article {
  margin-top: 5px;
  margin-bottom: 12px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(246, 248, 254, 0.4);
}

.connectButton {
  font-size: 16px;
  font-weight: 500;
}
