.header {
    position: absolute;
left: 0%;
right: 64.09%;
top: 0%;
bottom: 48.8%;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 46px;
line-height: 54px;

color: #E2FB5F;

}