.tabs {
  display: flex;
  align-self: flex-start;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  height: 41px;
}

.tabLabel {
  line-height: 35px;
  padding: 0px 42px 0px 43px;
  background-color: rgba(124, 196, 219, 0.05);
  border: solid rgba(115, 237, 201, 0.2);
  border-radius: 12px 12px 0px 0px;
  border-width: 1px 1px 0px 1px;
  color: #e2fb5f;
  font-weight: 600;
  width: fit-content;
  z-index: 2;
  height: 41px;
  transition: all 0.15s;
  cursor: pointer;
  font-size: 24px;
}
.tabLabel:hover {
  background: rgba(16, 29, 40, 0.1);
  border-width: 1px 1px 0px 1px;
  border: solid #e2fb5f;
  font-size: 20px;
  color: #e2fb5f;
}
/*.tab__selected:hover {
  background-color: #222f34;
  color: #e2fb5f;
}*/

.tabLabel__selected {
  background: rgba(16, 29, 40, 0.1);
  border-width: 1px 1px 0px 1px;
  font-size: 20px;
  color: rgba(226, 251, 95, 0.35);
}

/*.tabLabel__selected:hover {
  background-color: #222f34;
}*/
