.tabs {
  display: inline-flex;
  align-self: flex-start;
  justify-content: center;
  width: 230px;
  
}
.tabsToken {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #E2FB5F;
  border: 1px solid #E2FB5F;
  border-radius: 9px 9px 0px 0px;
  color: #222F34;
  font-weight: 700;
  width: 125px;
  z-index: 2;
  height: 33px;

}

.tabsNFT {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #162833;
  border: 1px solid #E2FB5F;
  border-radius: 0px 9px 0px 0px;
  color: #D3FF54;;
  font-weight: 700;
  width: 125px;
  margin-left: -20px;
  height: 33px;
  
}