.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-bottom: -1px;
  z-index: 1;
}

.tabLabel {
  width: 144px;
  padding: 7px 0px;
  background-color: #1a2d36;
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(115, 237, 201, 0.2);
  border-radius: 12px 12px 0px 0px;
  color: #E2FB5F;
  font-weight: 600;
  transition: all 0.15s;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
}

.tabLabel__selected {
  padding: 9px 0px;
  background-color: rgb(16, 33, 40, 0.7);
  border-style: solid;
  border-width: 1px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(226, 251, 95, 0.35);
  backdrop-filter: blur(5px);
}

.tabLabel__selected:hover {
  background-color: rgb(16, 33, 40, 0.7);
  font-weight: 500;
  color: #E2FB5F;
  backdrop-filter: blur(5px);
}