.tabs {
  display: flex;
  align-self: flex-start;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.tabLabel {
  line-height: 35px;
  padding: 8px 43px 9px 43px;
  align-items: center;
  justify-content: center;
  background-color: #E2FB5F;
  border: 1px solid #E2FB5F;
  border-radius: 9px 9px 0px 0px;
  color: #222F34;
  font-weight: 700;
  width: fit-content;
  z-index: 2;
  height: 33px;
  transition: all 0.15s;
}

.tab__selected {
  background-color: #222F34;
  color:#E2FB5F;
}

.tab__selected:hover {
  background-color: #222F34;
  color:#E2FB5F;
}

.tabLabel__selected {
  border: 1px solid #E2FB5F;
}

.tabLabel__selected:hover {
  background-color: #222F34;
}