.common {
  display: flex;
  justify-content: center;
  margin-left: 223px;
  min-width: 750px;
}
.smallsize {
  border-radius: 100px;
  padding: 9px 31px;
  background-color: #e2fb5f;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #162833;
  margin-left: 50px;
  margin-bottom: 15px;
}
.smallsize:hover {
  background-color: #edff8e;
}
.smallsize:active {
  background-color: rgba(67, 178, 91, 0.35);
  color: rgba(226, 251, 95, 0.35);
  font-weight: 500;
}
.smallsizeact {
  display: flex;
  border-radius: 100px;
  background-color: rgba(67, 178, 91, 0.35);
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #162833;
  margin-left: 50px;
  color: #e2fb5f;

  align-items: center;
  padding: 8px 30px;
}
.download {
  margin-left: 10px;
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
