.nav {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 1000;
}

.header {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: auto;
    max-height: none;
    min-height: auto;
    background-color: rgba(6, 15, 25, 0.85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)  align-items: center;
  justify-content: space-between;
}

.linkHead {
  position: relative;
    display: inline-block;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 0px;
    float: left;
  color: #e2fb5f;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
    text-align: left;
    text-transform: lowercase;
}

.middle {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #F6F8FE;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
}

.btnClass {
  font-family: "Bai Jamjuree", sans-serif;
  border-radius: 100px;
  background: #e2fb5f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0px;
  margin-right: 20px;
  padding: 9px 31px;
}

.name {
  cursor: pointer;
}

.btnClass:hover {
  background-color: #edff8e;
}
.link {
  color: #F6F8FE;
  text-decoration: none;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
}

.link:hover {
  color: #EDFF8E;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
}
.active {
  color: #E2FB5F;
  text-decoration: none;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
}

.bostrom {
  position: relative;
  display: block;
  float: right;
  margin-top: 11px;
  margin-right: 20px;
  padding: 8px 36px 8px 14px;
  float: right;
  border: 0px none #000;
  border-radius: 8px;
  background-color: transparent;
}

.bostrom:hover{
  background-color: rgba(67, 151, 178, 0.1);  
  
}
.rightButton {
  display: flex;
}
.circle {
    width: 18px;
    height: 18px;
    max-width: none;
    float: left;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.downSwapArrow {
  margin-right: 14px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
}
