.header {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  color: #e2fb5f;
  font-family: "Roboto";
  font-weight: 800;
  justify-content: space-between;
  line-height: 41px;
  margin-top: 11px;
  margin-left: 19px;
}

.linkhead {
  color: #e2fb5f;
  text-decoration: none;
  font-size: 46px;
  font-family: "Roboto";
  font-weight: 700;
  padding-left: 19px;
}

.middle {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #43b25b;
  margin-top: 16px;
}

.btnClass {
  width: fit-content;
  font-family: "Roboto";
  border-radius: 100px;
  background: #e2fb5f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0px;
  margin-top: 16px;
  margin-right: 20px;
  padding: 9px 50px;
}

.name {
  margin-right: 36px;
}
