.nav {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  color: #e2fb5f;
  font-weight: 800;
  line-height: 41px;
}
.header {
  position: fixed;
  top: 0;

  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.header2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: gba(6, 15, 25, 0.85);
  backdrop-filter: blur(7.5px);
  z-index: 10;
}

.linkHead {
  color: #e2fb5f;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  line-height: 40px;
  margin-left: 20px;
  align-items: center;
}
.linkHead:hover {
  color: #edff8e;
}

.middle {
  display: flex;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #f6f8fe;
  align-items: center;
  padding-left: 30px;
}
.middle:hover {
  color: #edff8e;
}
.middle:active {
  color: #e2fb5f;
}
.btnClass {
  font-family: "Bai Jamjuree", sans-serif;
  border-radius: 100px;
  background: #e2fb5f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0px;
  margin-right: 20px;
  padding: 9px 31px;
}

.name {
  cursor: pointer;
}

.btnClass:hover {
  background-color: #edff8e;
}
.link {
  color: #43b25b;
  text-decoration: none;
  margin-right: 36px;
}

.link:hover {
  color: #e2fb5f;
}
.active {
  color: #e2fb5f;
  text-decoration: none;
  margin-right: 36px;
}
.bostrom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  height: 32px;
  font-size: 16px;
  border: 0;
  color: #43b25b;
  margin-right: 21px;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
}
.bostrom:hover {
  background-color: rgba(67, 151, 178, 0.1);
}
.rightButton {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  align-items: center;
}
.circle {
  width: 18px;
  height: 18xp;
  padding: 9px 28px 9px 10px;
}
.downSwapArrow {
  padding: 16px 15px 13px 0px;
}
