.connectButton {
  align-self: center;
  background: #e2fb5f;
  border-radius: 27.5px;
  padding: 6px 20px 7px 16px;
  color: #162833;
  font-size: 14px;
  font-weight: 700;
  border-style: none;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(104, 102, 47, 0.6);
  text-overflow: ellipsis;
  overflow: hidden;
}
