.disconnect:hover {
  background-color: red;
}

.wallet {
  padding: 20px;
  background-color: rgba(67, 151, 178, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #e2fb5f;
}
