.disconnect:hover {
    background-color: red;
}

.whiteButton {
    align-items: center;
    width: fit-content;
    height: 41px;
    background: #e2fb5f;
    border-radius: 27.5px;
    padding: 12px 41px 13px 41px;
    color: #162833;
    font-size: 14px;
    font-weight: 700;
    border-style: none;
    align-self: center;
    text-align: center;
    cursor: pointer;
  }