.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.name {
  position: absolute;
  color: rgba(67, 178, 91, 0.15);
  font-size: 167px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.border {
  z-index: 5;
  border-radius: 10px;
  margin-top: 170px;
}

table {
  border-collapse: collapse;
}
.thead {
  background-color: rgba(22, 40, 51, 0.9);
}
.thead th {
  color: #43b25b;
  font-size: 14px;
  font-weight: 200;
  padding-top: 9px;
  padding-bottom: 11px;
}
.tokens {
  padding-left: 75px;
  padding-right: 62px;
}
.balance {
  padding-right: 150px;
}
.other {
  padding-right: 17px;
  padding-left: 17px;
}
.nameToken {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boot {
  color: white;
  font-size: 20px;
}
.bostorm {
  color: #43b25b;
  font-size: 12px;
  padding-right: 5px;
}

.circle {
  width: 32px;
  margin-right: 13px;
}
.price {
  color: white;
  font-size: 24px;
  text-align: start;
}
.menu {
  background-color: rgba(22, 40, 51, 0.5);
  backdrop-filter: blur(15px);
}
.exchangeField {
  display: flex;
  flex-direction: column;
  color: #e2fb5f;
  font-size: 12px;
  font-weight: 200;
}

.buttonY {
  margin-left: 50px;
}
.exchange {
  display: flex;
  background-color: rgba(22, 40, 51, 0.5);
  padding: 10px 0px 10px 15px;
}
.field {
  border: 1px solid rgba(67, 178, 91, 0.35);
  border-radius: 10px;
  background-color: rgba(22, 40, 51, 0.1);
  padding: 13px 20px 13px 10px;
  outline: none;
  margin: 5px 14px 5px 0px;
}

.add {
  display: flex;
  justify-content: center;
  background-color: rgba(22, 40, 51, 0.5);
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*.addToken {
  color: #43b25b;
  font-size: 14px;
  font-weight: 100;
  background-color: rgba(22, 40, 51, 0.5);
  border: 1px #43b25b solid;
}*/
.tokenSend {
  margin-top: 10px;
  margin-left: 30px;
}
.addToken {
  margin-left: 10px;
}
.lg {
  padding: 0px 56px 0px 56px;
  font-weight: 100;
}
