.text {
  display: flex;
color:#43B25B;
font-weight: 700;
font-size: 180px;
line-height: 128px;
margin-left: 17%;
align-items: center;
}

.gocre {
background: #162833;
width: 215px;
height: 59px;
border-radius: 34px;
border:0px;
color: 
  #E2FB5F;
  font-weight: 700;
font-size: 30px;
line-height: 35px;
}
.inf {
font-weight: 300;
font-size: 22px;
line-height: 32px;
color: #43B25B;
}
.mid {
  display: flex;
  flex-direction: column;
}
.inf {
  margin-left: 769px;
  width: 444px;
  height: 93px;
}

.value {
  color: 
  #E2FB5F;
}