.select_container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 0;
  align-items: right;
  justify-content: right;
}

.SelectCustom_select_container {
  width: 100%;
  height: 100%;
}