.manageTok {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: rgba(22, 40, 51, 0.5);
  box-sizing: border-box;
  min-width: 262px;
  height: 100%;
  margin-left: 9px;

  z-index: 100;
}

.highlighter {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  background: rgba(22, 40, 51, 0.8);
}
.name {
  color: #e2fb5f;
  font-size: 24px;
  font-weight: 400;
  border-style: none;
  font-style: normal;
  padding: 12px 24px;
}

.tokens {
  padding: 12px 24px 24px;
}

.tokenList {
  width: 100%;
  margin-bottom: 15px;
}

.info {
  font-weight: 300;
  color: #43b25b;
  font-size: 12px;
  margin: 0px 0px 5px 0px;
}

.info2 {
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #43b25b;
  font-size: 14px;
  line-height: 18px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addContract {
  width: 100%;
  color: #e2fb5f;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28px;
  background: transparent;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgba(67, 178, 91, 0.35);
  outline: none;
  font-family: "Bai Jamjuree", sans-serif;
}

.spinner {
  display: flex;
  justify-content: center;
  animation: rotate 0.1s linear infinite;
  width: 25px;
  height: 25px;
  padding: 0px 8px;
}

.path {
  display: flex;
  stroke: #d3ff54;
  stroke-linecap: round;
  animation: dash 0.1s ease-in-out infinite;
  align-self: center;
}

.addTokenButton {
  margin-top: 16px;
}

.error {
  display: flex;
  color: #e2fb5f;
  font-style: italic;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
