.manageTok {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  border-radius: 16px;
  background: #163a34;
  box-sizing: border-box;
  width: 236px;
  height: 100%;
  margin-left: 9px;
}

.name {
  width: fit-content;
  align-self: center;
  border-radius: 27.5px;
  padding: 22px 33px 0px 33px;
  color: #e2fb5f;
  font-size: 24px;
  font-weight: 700;
  border-style: none;
  font-style: normal;
}

.cashName {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 300;
  color: #43b25b;
  font-size: 14px;
  color: white;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 6px;
  justify-content: space-between;
  min-width: 170px;
}

.cash {
  font-style: normal;
  font-weight: 300;
  color: #43b25b;
  font-size: 14px;
  color: white;
  align-self: center;
  margin-left: 40px;
}

.info {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #43b25b;
  font-size: 10px;
  margin: 5px 4px 5px 0px;
  padding: 1px 25px 5px 25px;
}

.line {
  border-bottom: 1px solid #43b25b;
  width: 100%;
  margin-top: 15px;
  align-self: center;
}

.indent {
  padding-bottom: 15px;
  align-self: center;
  min-width: 180px;
}

.addContract {
  display: flex;
  width: 200px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  height: 24px;
  color: #163a34;
  background: #d3ff54;
  border-radius: 8px;
  border: none;
  margin: 5px;
}

.spinner {
  display: flex;
  justify-content: center;
  animation: rotate 0.1s linear infinite;
  width: 25px;
  height: 25px;
  padding: 0px 8px;
}

.path {
  display: flex;
  stroke: #d3ff54;
  stroke-linecap: round;
  animation: dash 0.1s ease-in-out infinite;
  align-self: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
