.mainpage {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  padding-top: 30px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 103px;
}

.tools {
  display: flex;
  flex-direction: row;
  z-index: 1;

}

.tabPageContent {
  display: flex;
  width: 596px;
  height: 665px;
  justify-content: center;
  justify-items: center;
}

.createtext {
  position: absolute;
  top: 575px;
  left: 460px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  line-height: 143px;
  color: rgba(67, 178, 91, 0.15);
  transform: rotate(-90deg);
}