.mainpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 180px;
  justify-content: flex-start;
  align-items: flex-start;
}

.group {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 9px;
}

.tools {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
