.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px auto;
  padding-top: 30px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.tabPageContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
}
