.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 13px;
}

.title {
  display: flex;
  font-size: 14px;
  font-weight: 800;
  text-decoration: underline;
  background-color: #e2fb5f;
  border: none;
  cursor: pointer;
  font-family: "Bai Jamjuree", sans-serif;
}

.icon {
  align-self: center;
  padding-right: 5px;
}

.children {
  display: flex;
  flex-direction: row;
  white-space: pre-line;
}
