.common {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.swap {
  display: flex;
  width: 470px;
  flex-direction: column;
}

.InputBlock {
  display: flex;
  justify-content: space-between;
}

.OutputBlock {
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}

.currencyInput {
  font-weight: 300;
  font-size: 36px;
  color: #f6f8fe;
  padding: 42px 0px 0px 50px;
}

.currencyOutput {
  font-weight: 300;
  font-size: 36px;
  color: #f6f8fe;
  padding: 42px 0px 0px 50px;
}

.balanceBlock {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.balance {
  font-weight: 300;
  font-size: 14px;
  color: rgba(246, 248, 254, 0.4);
  padding: 0px 0px 24px 50px;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 36px;
  padding: 4px 4px 4px 16px;
  border-radius: 8px;
}

.selectWrapper:hover {
  background: rgba(67, 151, 178, 0.1);
}

.circle {
  margin: auto;
  border: 1px solid;
  background-color: #e2fb5f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.circle:hover {
  background-color: #bbd24d;
}

.line {
  border-top: 1px solid rgba(115, 237, 201, 0.1);
}

.iconSwap {
  padding: 9px 7px;
}

.stringSelect {
  display: flex;
  flex-direction: column;
  background-color: #060f19;
  color: #e2fb5f;
  font-weight: 500;
  font-size: 16px;
  justify-content: space-between;
  padding: 12px 50px 12px 50px;
}
.percent {
  display: flex;
  justify-content: center;
}
.percent_1,
.percent_2 {
  font-family: "Bai Jamjuree";
  width: 100px;
  margin-top: 15px;
  background: rgba(67, 151, 178, 0.1);
  border-radius: 8px;
  color: #e2fb5f;
  padding: 9px 11px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  border: none;
}
.percent_2 {
  margin-left: 13px;
  margin-right: 13px;
}
.fee {
  color: #f6f8fe;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.percent_1:hover,
.percent_2:hover {
  background: #e2fb5f;
  color: #060f19;
}
.percent_1:focus,
.percent_2:focus {
  background: #e2fb5f;
  color: #060f19;
}
.textToPools {
  color: #f6f8fe;
  font-size: 16px;
  font-weight: 400;
  margin-top: 76px;
  margin-bottom: 76px;
}

.textToPools a {
  color: #e2fb5f;
}

.select {
  display: flex;
  border-radius: 28px;
  color: #43b25b;
  margin: 0px 35px;
  height: 100%;
  padding: 36px 0px 0px;
  align-items: center;
  justify-content: center;
  max-height: 45px;
  font-size: 18px;
}
