.RoadmapBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(6, 15, 25, 0.6);
  margin: 0 auto;
}


.RoadmapImg {
  width: 75%;
  padding-top: 100px;
  padding-bottom: 100px;
}