.nav {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  background-color: rgba(6, 15, 25, 0.85);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 1000;
}

.logo {
  position: relative;
  display: inline-block;
  padding-bottom: 7px;
  padding-right: 15px;
  color: #e2fb5f;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
}

.logo:hover {
  color: #EDFF8E
}

.menu {
  display: flex;
  margin-right: auto;
  align-items: center;
  margin-bottom: 2px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 0px 15px;
  font-family: "Bai Jamjuree", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: #F6F8FE;
}

.link:hover {
  color: #EDFF8E;
}

.active {
  color: #E2FB5F;
  display: inline-block;
  text-decoration: none;
  padding: 0px 15px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.myWallet {
  display: flex;
  padding: 12px 16px;
  border-radius: 8px;
}

.myWallet:hover {
  background: rgba(67, 151, 178, 0.1);
}

.myWalletText {
  text-decoration: none;
  padding-left: 10px;
  font-family: "Bai Jamjuree", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  color: #E2FB5F;
}

.activemyWalletText {
  color: #E2FB5F;
  text-decoration: none;
  padding: 0px 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.rightButton {
  display: flex;
}

.chainButton {
  position: relative;
  vertical-align: top;
  padding-left: 12px;
  margin: auto 15px auto 5px;
  border-style: none;
  border-radius: 8px;
}

.chainButton:hover {
  background: rgba(67, 151, 178, 0.1);
}