.ntt {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 596px;
  height: 665px;
  background: #e2fb5f;
  border: 1px solid #e2fb5f;
  border-radius: 0px 16px 16px 16px;
}

.cs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 569px;
  background-color: rgba(32, 75, 81, 0.2);
  border-radius: 16px;
  font-weight: 800;
  font-size: 38px;
  margin: auto;
  color: #162833;
}

.icon {
  width: 76px;
  height: 72px;
  margin-top: 43px;
}
