.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  color: #f6f8fe;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  margin-right: 29px;
  line-height: 20px;
}
.link:hover {
  color: #edff8e;
}

.linkCreate {
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #e2fb5f;
  line-height: 20px;
}

.create {
  margin-left: auto;

  color: #e2fb5f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-right: 19px;
}
.git {
  margin-right: 29px;
  margin-left: 20px;
  height: 22px;
  background-image: red;
}
