.footer {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
  margin: 136px auto 0px;
}

.link {
  color: #43b25b;
  width: fit-content;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-right: 12px;
  line-height: 16px;
}

.linkCreate {
  margin-right: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #43b25b;
  line-height: 16px;
}

.create {
  margin-left: 500px;
  color: #43b25b;
  width: fit-content;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
