.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 25px;

    background: #162833;
    border-radius: 45.5px;
    padding: 43px 8px 43px 12px;
    color: #E2FB5F;
    font-size: 4vmin;
    
}

