.button {
    display: flex;
    position: absolute;
    left: 512px;
    right: 760px;
    top: 762px;
    width: 250px;
    height: 25px;

    background: #162833;
    border-radius: 45.5px;
    padding: 43px 8px 43px 12px;
    color: #E2FB5F;
    font-size: 4vmin;
    align-items: center;
    justify-content: center;
}

.button:hover {

}

.button:disabled {
    opacity: 0.6;
    background: #8E8E8E;
}