.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 17% 120px 17%;
}

.firstString {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 24px;
}

.name {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 60px;
  background: linear-gradient(306.95deg, #e2fb5f 10.17%, #0fefd4 101.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.buttonCreate {
  display: flex;
  margin-top: 16px;
  border-radius: 10px;
  align-self: center;
  background-color: transparent;
  border: 1px solid;
  color: rgba(115, 237, 201, 0.7);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  align-items: center;
  justify-content: center;
}

.buttonCreate:hover {
  font-weight: 500;
  box-shadow: none;
  color: #060f19;
  background-color: #e2fb5f;
}

.secondString {
  display: flex;
  margin-top: 44px;
  margin-bottom: 12px;
}

.allpools {
  color: #e2fb5f;
  font-size: 32px;
  font-weight: 700;
  min-width: 160px;
}

.filterTokens::placeholder {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(115, 237, 201, 0.3);
  padding-left: 23px;
  background-image: url("../../assets/filter.svg");
  background-repeat: no-repeat;
}

.filterTokens {
  margin-top: 3px;
  padding-left: 15px;
  border-radius: 10px;
  background: rgba(124, 196, 219, 0.05);
  /* backdrop-filter: blur(10px); */
  border: 1px solid rgba(115, 237, 201, 0.1);
  color: rgba(246, 248, 254, 0.7);
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
  width: 100%;
  height: 38px;
}

.tablePools {
  height: auto;
  overflow: auto;
  background: rgba(124, 196, 219, 0.05);
  border: 1px solid rgba(115, 237, 201, 0.1);
  /* backdrop-filter: blur(10px); */
  border-radius: 16px;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(246, 248, 254, 0.4);
  padding: 10px 40px;
}

.theadPools {
  background: rgba(6, 15, 25, 0.5);
}

.theadPools:hover {
  background: rgba(6, 15, 25, 0.5);
}

th,
td {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: rgba(246, 248, 254, 0.8);
  padding: 18px 40px;
}

tr:hover {
  background: rgba(67, 151, 178, 0.05);
}

.pair {
  text-align: left;
}

.pairwidth {
  width: 30%;
}

.pairPool {
  display: flex;
  gap: 5px;
}

.ARP {
  font-weight: 700;
}

.volume {
  text-align: right;
}

.imgToken_1 {
  position: relative;
  width: 24px;
  z-index: 10;
}

.imgToken_2 {
  position: relative;
  width: 24px;
  left: -10px;
}

.downarrow {
  margin-left: 6px;
}

.pages {
  background: transparent;
  padding: 10px 0px;
  border: none;
  width: 100%;
}

.leftButton {
  background: transparent;
  border: none;
  padding: 0px 10px;
}

.rightButton {
  background: transparent;
  border: none;
  padding: 0px 10px;
}

.page {
  display: flex;
  color: rgba(246, 248, 254, 0.4);
  justify-content: center;
  background: rgba(6, 15, 25, 0.5);
  padding: 8px 0px 6px;
  border: none;
  width: 100%;
}
