.headlegal {
  width: 100%;
  height: 100%;
  background: #f3f5e9;
  border: 1px solid #e2fb5f;
  border-radius: 16px;
  text-align: left;
}

.legalInformation {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #162833;
  padding: 34px 0px 15px 28px;
}

.content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #162833;
  max-width: 517px;
  padding: 0px 296px 0px 28px;
}
