.yearDown {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  line-height: 23px;
  margin-top: 9px;
  color: rgba(67, 178, 91, 0.5);
}

.yearUp {
  color: #e2fb5f;
}
