.year {
  display: flex;
  color: #e2fb5f;
  font-size: 20px;
  line-height: 23px;
  margin-top: 9px;
}
.tigD {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  transform: rotate(90deg);
  margin-right: 6px;
  border-right: 13px solid #e2fb5f;
  margin-top: 10px;
}
.arrow {
  display: flex;
  border-left: 2px solid #e2fb5f;
  height: 390px;
  margin-left: 9px;
  margin-bottom: 10px;
}
