.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  box-sizing: border-box;
  background: url("./assets/fon_new.jpg") no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.font-link {
  font-family: "Roboto", bold;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50 100%;
  }
  100% {
    background-position: 100 50%;
  }
}
