.App {
  display: flex;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  padding: 0 8.8vw;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e2fb5f;
}

.App-link {
  color: #61dafb;
}

.font-link {
  font-family: 'Roboto', regular;
}

