.middleStringSecond {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 180px;
  line-height: 128px;
  align-items: center;
}

.goCreate {
  background: #162833;
  padding: 12px 40px;
  border-radius: 34px;
  border: 0px;
  color: #e2fb5f;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-top: 20px;
  margin-left: 43px;
  font-family: Roboto;
  height: 59px;
  min-width: 215px;
}

.goCreate:hover {
  background: rgba(22, 40, 51, 0.6);
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 210px;
  margin-top: 110px;
  margin-bottom: 70px;
}
.info {
  margin-left: 780px;
  width: 444px;
  height: 93px;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #43b25b;
}

.value {
  color: #e2fb5f;
}
.middleStringFirst {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 180px;
  line-height: 128px;
  align-items: center;
  margin-right: 132px;
}
.middleStringThird {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 180px;
  line-height: 128px;
  align-items: center;
  margin-left: 35px;
}
