.mainPageWelcomeBlock {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPageWelcomeBlockinerInner {
  display: block;
}

.WelcomeBlockFirst {
  align-content: center;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: rgba(115, 237, 201, 0.7);
}

.WelcomeBlockSecond {
  align-content: center;
  background: linear-gradient(306.95deg, #E2FB5F 10.17%, #0FEFD4 101.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 30px;

  font-size: 135px;
  line-height: 94px;
  font-weight: 700;
  text-transform: lowercase;
}

.WelcomeBlockThird {
  font-weight: 700;
  font-size: 48px;
  line-height: 41px;
  text-transform: lowercase;
  margin-top: -75px;
  margin-left: 390px;
  color: rgba(115, 237, 201, 0.7);
}