.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 17% 120px 17%;
}

.title {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 60px;
  background: linear-gradient(306.95deg, #e2fb5f 10.17%, #0fefd4 101.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 24px;
}

.tableMA {
  height: auto;
  overflow: auto;
  background: rgba(124, 196, 219, 0.05);
  border: 1px solid rgba(115, 237, 201, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  margin-bottom: 24px;
}

.theadMA {
  background: rgba(6, 15, 25, 0.5);
}

.thLeft {
  text-align: left;
}

.thwidth {
  width: 60px;
  padding: 0px 10px;
}

.iconToken {
  width: 24px;
  margin-right: 10px;
}

.nameToken {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  gap: 5px;
}

.balance {
  font-weight: 400;
  font-size: 20px;
  text-align: start;
}

.tokenSend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0px 40px;
}

.tokenSend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 40px;
}

.sendformblock {
  display: flex;
  gap: 10px;
}

.sendform {
  box-sizing: border-box;
  height: 40px;
  width: 260px;
  background: rgba(29, 57, 66, 0.6);
  border-radius: 8px;
  border-style: none;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #F6F8FE;
  padding-left: 14px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  color: rgba(246, 248, 254, 0.6);
}

.sendButton {
  margin-top: auto;
}

.addToken {
  margin: 30px 40px;
}