.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 17% 120px 17%;
}
.test {
  color: rgba(246, 248, 254, 0.4);
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin-top: -5px;
  text-align: initial;
}
.send {
  border: none;

  cursor: pointer;
}

.title {
  display: flex;
  color: rgba(67, 178, 91, 0.15);
  font-weight: 700;
  font-size: 60px;
  background: linear-gradient(306.95deg, #e2fb5f 10.17%, #0fefd4 101.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 24px;
}

.tableMA {
  height: auto;
  overflow: auto;
  background: rgba(124, 196, 219, 0.05);
  border: 1px solid rgba(115, 237, 201, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  margin-bottom: 24px;
}

.theadMA {
  background: rgba(6, 15, 25, 0.5);
}

.thLeft {
  text-align: left;
}

.thwidth {
  width: 60px;
  padding: 0px 10px;
}

.iconToken {
  width: 34px;
  margin-right: 10px;
}

.nameToken {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  gap: 5px;
}

.balance {
  font-weight: 400;
  font-size: 20px;
  text-align: start;
}

.tokenSend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 14px 40px;
}

.sendformblock {
  display: flex;
  gap: 10px;
}

.sendform {
  box-sizing: border-box;
  height: 40px;
  width: 260px;
  background: rgba(29, 57, 66, 0.6);
  border-radius: 8px;
  border-style: none;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f6f8fe;
  padding-left: 14px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  color: rgba(246, 248, 254, 0.6);
}

.sendButton {
  margin-top: auto;
}

.addToken {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 40px 40px 40px;
}

.addTokenBlok {
  width: 100%;
  display: flex;
  gap: 10px;
}

.addContract {
  box-sizing: border-box;
  height: 40px;
  width: 530px;
  background: rgba(29, 57, 66, 0.6);
  border-radius: 8px;
  border-style: none;
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f6f8fe;
  padding-left: 14px;
}

.addTokenButton {
  margin-top: auto;
}

.error {
  display: flex;
  align-content: center;
  color: rgba(246, 248, 254, 0.6);
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
}
.colspan {
  padding: 0px !important;
}
