.mainpage {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.tools {
  display: flex;
  flex-direction: row;
  z-index: 1;

}

.tabPageContent {
  display: flex;
  width: 596px;
  justify-content: center;
  justify-items: center;
  margin-bottom: auto;
}

.createtext {
  position: absolute;
  top: 567px;
  left: 481px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 95px;
  color: rgba(115, 237, 201, 0.07);
  transform: rotate(-90deg);
}

.tokenTypeSelect {
  display: flex;
  color: white;
  gap: 20px;
  margin-bottom: 15px;
}
.tokenTypeSelect label span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(246, 248, 254, 0.8);
}
.tokenTypeSelect label {
  display: flex;
  gap: 7px;
}
.tokenTypeSelect input {
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.tabBox {
  background: #12262d;
  border: solid 1px rgba(115, 237, 201, 0.1);
  border-radius: 0px 16px 16px;
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 35px 45px 35px 45px;
}