.tokensBlock {
  width: 100%;
  display: flex;
}

.contractData {
  font-size: 14px;
  width: 100%;
}

.tokenTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.cashName {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.logo {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.line {
  border-bottom: 1px solid #43b25b;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.x {
  background: transparent;
  border: none;
  color: #43b25b;
  padding: 0px 0px 0px 5px;
  cursor: pointer;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-weight: 700;
  color: #43b25b;
  font-size: 10px;
  margin: 0px px 5px;
}

.token {
  display: flex;
  flex-grow: 1;
}

.addContract {
  line-height: 16px;
  height: 24px;
  color: #163a34;
  background: #d3ff54;
  border-radius: 8px;
  border: none;
  margin-bottom: 14px;
}

.info {
  color: #43b25b;
  font-size: 14px;
  padding: 1px 25px 5px 25px;
}
