.contractData {
  font-size: 14px;
  width: 100%;
  margin-top: 12px;
}

.tokenTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
  justify-content: flex-start;
}

.cashName {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Bai Jamjuree", sans-serif;
}

.x {
  background: transparent;
  border: none;
  color: #43b25b;
  padding: 0px;
  cursor: pointer;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-weight: 700;
  color: #43b25b;
  font-size: 10px;
  margin: 0px 5px;
}

.logo {
  width: 16px;
  height: 16px;
}

.token {
  margin-left: 3px;
}

.image {
  margin-left: 5px;
}

.balance {
  margin-left: auto;
}

.addContract {
  height: 44px;
  color: #e2fb5f;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28px;
  background: transparent;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgba(67, 178, 91, 0.35);
  outline: none;
  margin-bottom: 12px;
  font-family: "Bai Jamjuree", sans-serif;
}

.info {
  color: #43b25b;
  font-size: 14px;
  padding: 1px 25px 5px 25px;
}

.tokenButton {
  padding: 12px 90px;
}
